@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #030018;
	--foreground: #fff;
	--muted: #100d22;
	--primary: #9e7ffb;
	--secondary: #181030;
	--font-google-sans-flex: "Google Sans Flex", sans-serif;
}


* {
	box-sizing: border-box;
}

body {
	background-color: var(--background);
	color: var(--foreground);
	font-family: var(--font-google-sans-flex);
	scroll-behavior: auto !important;
	overscroll-behavior: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
	width: 5px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: var(--background);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--primary);
	border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.text-stroke {
  -webkit-text-stroke: 2px var(--primary);
  color: transparent;
}

.container{
	max-width: 1200px;
	margin: auto;
}

@keyframes loading {
  0% { transform: translateX(-100%); }
  50% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@layer utilities {
  .bg-workspace-noise {
    background-color: #060415;
    background-image: radial-gradient(at 50% 50%, #7556d308 0px, transparent 50%),
                      url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.015'/%3E%3C/svg%3E");
  }
}